@keyframes fadein {
    from {
        opacity: 0;
        left: -30px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
        left: -30px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
        left: -30px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}


@keyframes flashing {
    0% {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flashing {
   0% {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flashing {
     0% {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.anim-flashing{
    animation-name: flashing;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

    -webkit-animation-name: flashing;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: flashing;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;

}

.fadein-left{
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;

    opacity: 1;
}
