.back-dialog{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.8);
    opacity: 0;
    z-index: -1;
}
.dialog-video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 924px;
    height: 668px;
    padding: 10px;
    background: #FFEDD8;
    z-index: 100;
    border-radius: 4px;
     opacity: 0;
    z-index: -1;
}
.dialog-video .close-btn{
    font-family: Arial;
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 50%;
        transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.dialog-video .close-btn:hover{
    cursor: pointer;
    background: #f6e3ce;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.dialog-video-main{
    position: relative;
      top: 49px;
      left: 67px;
      width: 800px;
      overflow: hidden;
      border-radius: 3px;
}
