footer{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
footer a{
    color: white;
}
.footer-menu-item{
  display: block;
  float: left;
  /* width: 119px; */
  height: 10px;
  padding: 5px;
}
.copyright{
    text-align: center;
    color: white;
}
.footer-menu{
      width: 100%;
      height: 20px;
}
