.tip{
   opacity: 0;
    transition: 1s ;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
}
#sec-2{
    position: relative;
    height: 600px;
    margin-top: 100px;

}
.wrapper-image{
    position: relative;
    float: left;
    width: 300px;
}
.wrapper-image img{
    width: 100%;
}
[data-who="dominik"]{
    position: absolute;
    top: -45px;
    left: -62px;
    font-size: 31pt;
    -webkit-transform: rotateZ(-18deg);
    -moz-transform: rotateZ(-18deg);
    transform: rotateZ(-18deg);
}
[data-who="matthew"]{
    position: absolute;
    top: 350px;
    left: -16px;
    font-size: 34pt;
    -webkit-transform: rotateZ(18deg);
    -moz-transform: rotateZ(18deg);
    transform: rotateZ(18deg);
}
[data-who="chris"]{
    position: absolute;
    top: 326px;
    left: 10px;
    font-size: 34pt;
    -webkit-transform: rotateZ(-6deg);
    -moz-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
}
