#sec-5 .wrapper-container{
    width: 1100px;
    padding: 30px;
    overflow: hidden;
}
#sec-5 .container{
    overflow: hidden;
}
#sec-5 .line{
    height: 100px;
    background: url('../img/video/patter_sq.jpg') repeat-x ;
    width: 100%;
}
#sec-5 .container-blocks div{
    height: 400px;
    margin: 10px;
    width: 643px;
    float: left;
    position: relative;
}
#sec-5 .container-blocks{
    position: relative;
    left: 0px;
    height: 420px;
    width: 3000px;
    overflow: hidden;

    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
}
#sec-5 .wrapper-container-blocks{
    overflow: hidden;
    position: relative;
    height: 420px;
    width: 673px;
    margin: 10px 208px;
}
[data-video]{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

[data-video=is]{
    background: url('../img/video/is-default.jpg');
    background-size: contain;
}
[data-video=is]:hover{
    background: url('../img/video/is-active.jpg');
    background-size: contain;
    cursor: pointer;
}
[data-video=di]{
    background: url('../img/video/di-default.jpg');
    background-size: contain;
}
[data-video=di]:hover{
    background: url('../img/video/di-active.jpg');
    background-size: contain;
    cursor: pointer;
}
[data-video=p]{
    background: url('../img/video/p-default.jpg');
    background-size: contain;
}
[data-video=p]:hover{
    background: url('../img/video/p-active.jpg');
    background-size: contain;
    cursor: pointer;
}

.control-carusel{
    background: #feecd8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    color: rgb(148, 140, 140);
    text-align: center;
    line-height: 50px;
    font-size: 43pt;
    margin-top: 285px;
    left: 100px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
.control-carusel:hover{
   cursor: pointer;
    box-shadow: 0px 0px 32px -4px #FFEDD8;
}
