.disco-back, .disco-front{
    position: relative;
    height: 300px;
    width: 300px;

}
.disco-back{
    border-radius: 5px;
    float: left;
    overflow: hidden;
    margin: 29px;
}
#sec-4{
    margin-top: 50px;
    height: 975px;
    padding: 43px;
    width: calc(100% - 86px);
}

/*showbiz*/
#disco-showbiz-back{
    background: url('../img/disco/showbiz.jpg');
    background-size: 300px 300px;
}
#disco-showbiz-front.disco-default{
    background: url('../img/disco/showbiz-default.jpg');
    background-size: 300px 300px;
}
#disco-showbiz-front.disco-default:hover{
    background: url('../img/disco/showbiz-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-showbiz-front.disco-active{
    background: url('../img/disco/showbiz-active.jpg');
    background-size: 300px 300px;
}
#disco-showbiz-front.disco-active:hover{
    background: url('../img/disco/showbiz-pause-hover.jpg');
    background-size: 300px 300px;
}
/*OOS*/
#disco-oos-back{
    background: url('../img/disco/oos.jpg');
    background-size: 300px 300px;
}
#disco-oos-front.disco-default{
    background: url('../img/disco/oos-default.jpg');
    background-size: 300px 300px;
}
#disco-oos-front.disco-default:hover{
    background: url('../img/disco/oos-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-oos-front.disco-active{
    background: url('../img/disco/oos-active.jpg');
    background-size: 300px 300px;
}
#disco-oos-front.disco-active:hover{
    background: url('../img/disco/oos-pause-hover.jpg');
    background-size: 300px 300px;
}
/*absolution*/
#disco-absolution-back{
    background: url('../img/disco/absolution.jpg');
    background-size: 300px 300px;
}
#disco-absolution-front.disco-default{
    background: url('../img/disco/absolution-default.jpg');
    background-size: 300px 300px;
}
#disco-absolution-front.disco-default:hover{
    background: url('../img/disco/absolution-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-absolution-front.disco-active{
    background: url('../img/disco/absolution-active.jpg');
    background-size: 300px 300px;
}
#disco-absolution-front.disco-active:hover{
    background: url('../img/disco/absolution-pause-hover.jpg');
    background-size: 300px 300px;
}
/*bhar*/
#disco-bhar-back{
    background: url('../img/disco/bhar.jpg');
    background-size: 300px 300px;
}
#disco-bhar-front.disco-default{
    background: url('../img/disco/bhar-default.jpg');
    background-size: 300px 300px;
}
#disco-bhar-front.disco-default:hover{
    background: url('../img/disco/bhar-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-bhar-front.disco-active{
    background: url('../img/disco/bhar-active.jpg');
    background-size: 300px 300px;
}
#disco-bhar-front.disco-active:hover{
    background: url('../img/disco/bhar-pause-hover.jpg');
    background-size: 300px 300px;
}
/*tr*/
#disco-tr-back{
    background: url('../img/disco/tr.jpg');
    background-size: 300px 300px;
}
#disco-tr-front.disco-default{
    background: url('../img/disco/tr-default.jpg');
    background-size: 300px 300px;
}
#disco-tr-front.disco-default:hover{
    background: url('../img/disco/tr-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-tr-front.disco-active{
    background: url('../img/disco/tr-active.jpg');
    background-size: 300px 300px;
}
#disco-tr-front.disco-active:hover{
    background: url('../img/disco/tr-pause-hover.jpg');
    background-size: 300px 300px;
}
/*t2l*/
#disco-t2l-back{
    background: url('../img/disco/t2l.jpg');
    background-size: 300px 300px;
}
#disco-t2l-front.disco-default{
    background: url('../img/disco/t2l-default.jpg');
    background-size: 300px 300px;
}
#disco-t2l-front.disco-default:hover{
    background: url('../img/disco/t2l-play-hover.jpg');
    background-size: 300px 300px;
}
#disco-t2l-front.disco-active{
    background: url('../img/disco/t2l-active.jpg');
    background-size: 300px 300px;
}
#disco-t2l-front.disco-active:hover{
    background: url('../img/disco/t2l-pause-hover.jpg');
    background-size: 300px 300px;
}
/*hover*/
.disco-default{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.disco-default:hover{
    cursor: pointer;
}
.disco-active{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.disco-active:hover{
    cursor: pointer;
}

