#sec-3{
    margin-top: 100px;
    height: 1800px;
}
#sec-3 .main-style-artice{
    width: 700px;
}
#history-img-1 {
    width: 400px;
}
#history-img-2 img{
    width: 370px;
}
#history-img-3 img{
    width: 370px;
    height: 370px;
}
#history-img-3 {
    height: 370px;
    top: 46px;
}


#sec-3 .wrapper-image{
    padding: 20px;

}
.article-block
{
    width: 100$;
    margin: 10px 0;
}
