#sec-6 .container{
    height: 800px;
    width: 100%;
    position: absolute;
}
.image-view-window{
    height: 80%;
    width: 100%;
    position: relative;
}
.image-previews{
    height: 20%;
    width: 100%;
    position: relative;

}
#sec-6{
    height: 1100px;
}
.img-prev{
    position: relative;
    display: block;
    float: left;

}
.image-view{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.prev-img{
    border: 1px solid rgba(255, 255, 255, 0.1);
     transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;

}
.prev-img:hover{
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 0px 0px 32px -4px #FFEDD8;
}
