html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
/**MENU TOP**/
header {
    background: #393533;
    height: 50px;
    width: 1160px;
    position: absolute;
    z-index: 6;
}
.back-layer{
    width: 100%;
    z-index: 5;
    position: absolute;
}
.circle {
    border-radius: 50%;
    background: inherit;
    width: 250px;
    height: 250px;
}

.circle.middle {
    position: absolute;
    top: -150px;
    left: 50px;
}

.circle img {
    width: 139px;
    position: absolute;
    top: 156px;
    left: 54px;
}

.menu {
    text-decoration: none;
    list-style: none;
    color: white;
    height: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 18pt;
    display: block;
    line-height: 50px;
}

.menu a{
    color: white;
}
.menu a:visited{
    color: white;
}
.menu a:hover{
    color: #8191a1;
}
.menu-left {
    float: left;
}

.menu-right {
    float: right;
    margin-right: 130px;
}



.menu li {
    float: left;
    margin: 0 20px;
     text-decoration: underline;
}
.menu li.selected{



}
/****/

.main-container {
    position: relative;
    width: 1160px;
    height: 10000px;
    font-family: AABebas;
    overflow: hidden;
}

.sections{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
main {
    position: relative;
    margin-top: 100px;
    color: white;
}
/**PHOTO**/

.photo {
    float: left;
}
.title{
    font-size: 48pt;
    padding: 70px 0px;
    width: 100%;
    display: block;
    text-align: center;
}
.photo#photo_1 {
    width: 410px;
    position: relative;
    left: 100px;
    top: -50px;
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.photo#photo_2 {
    width: 440px;
    position: relative;
    left: 90px;
    top: -10px;
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);

}

.wrapper-photo_1 {
    position: relative;
    float: left;
    width: 500px;
    height: 300px;
}

.wrapper-photo_2 {
    position: relative;
    float: left;
    width: 500px;
    height: 300px;
}
/****/
.right {
    float: right;
}
.left {
    float: left;
}
.main-style-artice {
    width: 600px;
    font-size: 18pt;
    letter-spacing: 1px;
}

.main-style-artice:first-letter {
    padding-left: 20px;
}

.section-1 {
    height: 330px;
    overflow: visible;
    position: relative;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: url('../img/backmaket.jpg');
}
/**SERVICE**/
.middle {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

@font-face {
    font-family: 'AABebas';
    src: url('../fonts/AA BebasNeue.ttf');
}


.back-fixed {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/backmaket.jpg');
}
.debug{
    position: fixed;
    background: #333;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
/***********/

#sec-1{
    margin-top: 40px;
}

/**INTRO***/

.intro-block {
    position: absolute;
    width: 230px;
    height: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: auto;

}
.intro-block a{
    color: white !important;
    margin-top: 50px;
    font-family: AABebas;
    font-size: 18pt;
    display: inline-block;
}

